<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
</head>

<body>

	<header>
		<div class="container">
			<div id="brandname">
				<b>ML App
			</div>
			<h2><b>Spam Detection For Youtube Comments</h2>
		</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
			<br>
			<p><b>Enter Your Comment Here</p>
			<!-- <input type="text" name="comment"/> -->
			<textarea name="comment" rows="10" cols="50"></textarea>
			<br />
			<input type="submit" class="btn btn-primary" value="Predict">

		</form>

	</div>




</body>

</html>